a {
  cursor: context-menu;
}

.outer-container{
  display: flex;
  flex-direction: column;
}

.sheet-container{
  float: left;
  display: flex;
  flex-direction: row;
}

.col-container{
  display: inline-block;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0px;
}

.col{
  float: right;
  display: flex;
  flex-direction: column;
}
/* cell styling start */
.datacell{
  /*bottom padding must be equal to bottom
    border width*/
  font-family: "Helvetica", "Arial";
  margin-right: -1px;
  padding: 2px 4px 1px 10px;
  border: solid;
  border-width: 0px 1px 1px 0px;
  text-align: right;


}
.datacell:hover{
  -webkit-transition: box-shadow 0.1s; /* Safari */
  transition: box-shadow 0.1s;
  box-shadow: inset 2px 2px 0px #96b7ff, inset -2px -2px 0px #96b7ff;
  z-index:100;
}
.datacell:last-child{
  border-bottom: none;
}
.col:first-child .datacell:last-child{
  border: none;
}

.col:first-child .datacell:first-child{
  border-right: none;
}

.labelcell{
  font-family: "Helvetica", "Arial";
  margin-right: -1px;
  padding: 2px 5px 1px 3px;
  
  border: solid;
  border-width: 1px 1px 0px 1px;  
}
.labelcell:first-child{
  border-top-right-radius: 5px;
}
.labelcell:last-child{
  border-bottom-width: 1px;
  border-bottom-right-radius: 5px;
}
/* cell styling end */

/* menu styling */

button{
  display: inline-block;
  margin: 3px 2px 3px 0px;
  border-radius: 20px;
  border:none;
  font-family: "Helvetica", "Arial";
  box-shadow: none;
  padding: 5px 10px 5px 10px;
  background-color: #75ccff;
  -webkit-transition: background-color; /* Safari */
  -webkit-transition: width 0.5s; /* Safari */
  transition: background-color 0.5s;
  transition: width 0.2s;
  width: 10%;
}
button:focus{
  outline:0;
  background-color: #759eff;
}

.last-btn{
  font-weight: bold;
  background-color: #759eff;
  width: 12%;
}

/* menu styling end */